<div class="hero" style="height: 100px;">
    <div class="item-1">
        <img src="https://i.postimg.cc/DydN4snm/menu.pn" alt="" class="menu-img">
        <img src="https://i.postimg.cc/RZSD7FZd/logo.pn" alt="" class="logo">
    </div>
        

    <div class="lamp-container">
        <img src="https://i.postimg.cc/yYz5Nnqw/lamp.png" alt="" class="lamp">
        <img src="https://i.postimg.cc/SxgtDhXh/light.png" alt="" class="light" id="light">
    </div>
     
    <div class="text-container">
        <h1>Happy <br> Learning</h1>
        <a (click)="fun1()">Click to Login</a>
    </div>
</div>